@import "https://unpkg.com/open-props@1.6.17/easings.min.css";

:root {
    --door-scale: 1.005;
}

body {
    background-color: rgb(5,5,5);
    display: grid;
    justify-content: center;
    text-align: center;
}

.container {
    margin-top: 2vw;
}

.copy {
    margin-bottom: 10vw;
}

h1 {
    font-family: "Girassol";
    color: rgb(230,230,230);
    font-size: 72px;
    margin: 0;
}

p {
    font-family: "Lato";
    color: rgb(180,180,180);
    font-size: 20px;
}

a {
    font-family: "Lato";
    color: rgb(165,0,36);
    font-size:20px;
}

.door {
    height: 50vh;
    width: auto;
}

#frame {
    position: relative;
    z-index: 1;
}

#door {
    position: absolute;
    z-index: 0;
}

#subtext {
    margin: 10px;
    width: 600px;
    color: rgb(5,5,5);
    font-size: 16px;
}

#gamer {
    margin: 300px;
}

#newdoor {
    width: 30vh;
    height: auto;
    margin: 100px;
}

#red {
    color: rgb(165,0,36);
}

@media only screen and (hover: none) and (pointer: coarse){
    h1{
        font-size: 48px;
    }
    p{
        font-size: 12px;
    }
    a{
        font-size: 12px;
    }
    #subtext {
        font-size: 10px;
    }
}

@keyframes knock {
    2% {
    transform: scale(1);
    }
    4% {
    transform: scale(var(--door-scale));
    }
    6% {
    transform: scale(1);
    } 
    10% {
    transform: scale(1);
    } 
    12% {
    transform: scale(var(--door-scale));
    }
    14% {
    transform: scale(1);
    }
    18% {
    transform: scale(1);
    }
    20% {
    transform: scale(var(--door-scale));
    }
    22% {
    transform: scale(1);
    }
}

[anim="knock"]{
    /* is hitting twice the amount? why?*/
    animation: knock var(--ease-elastic-in-3) 4000ms infinite;
}